---
import Layout from "../../layouts/Layout.astro";
import SiteHeader from "../../components/SiteHeader.astro";
import SiteFooter from "../../components/SiteFooter.astro";
import ContactForm from "../../components/ContactForm.astro";
import Content from "../../components/Content.astro";
---

<Layout title="Contact · Bleep">
  <SiteHeader />
  <Content>
    <h1>Bug, idea, or question?</h1>
    <ContactForm title="Bug, idea, or question?" />
  </Content>
  <SiteFooter />
</Layout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 var(--safe-area-padding);
  }
</style>
