---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Content from "../components/Content.astro";
import ContactForm from "../components/ContactForm.astro";

interface ArticleFrontmatter {
  title: string;
}

interface Article {
  url: string;
  frontmatter: ArticleFrontmatter;
}

const articles = Object.values(
  import.meta.glob<Article>("./support/*.md", { eager: true })
);
---

<Layout title="Support · Bleep">
  <SiteHeader />
  <Content>
    <h1>Support</h1>
    <h2>How-To Guides</h2>
    <ul>
      {
        articles.map((article) => (
          <li>
            <a href={article.url}>
              {article.frontmatter.icon}{" "}
              {article.frontmatter.support_title || article.frontmatter.title}
            </a>
          </li>
        ))
      }
    </ul>

    <h2>Common Questions</h2>
    <details>
      <summary>☁️ Why is my data not synced between devices?</summary>
      <p>
        Most likely, you don't have iCloud Drive enabled. Check out our <a
          href="/support/icloud">how-to guide</a
        > to enable it. Please allow a few minutes for changes to sync between devices.
        Especially if you're using a new device.
      </p>
    </details>

    <details>
      <summary>🔒 Is my data on Bleep private?</summary>
      <p>
        Yes, your data can only be accessed by you. It's stored on your device.
        Bleep uses iCloud for syncing between devices, but it's encrypted
        end-to-end. You can also review our <a href="/privacy"
          >privacy policy.</a
        >
      </p>
    </details>

    <details>
      <summary>💾 Can I export/import my data?</summary>
      <p>Not at the moment. But it will be added in a future update.</p>
    </details>

    <details>
      <summary>📲 Are you planning an iPad app?</summary>
      <p>Yes, but I don't have a timeline to share yet.</p>
    </details>

    <details>
      <summary>💻 Do you have a web, Windows, Linux, or Android app?</summary>
      <p>
        No, the current focus is on macOS and iOS. Long-term, I'd love for Bleep
        to be universal and on as many platforms as possible.
      </p>
    </details>

    <details>
      <summary>💰 Do I need to subscribe to use Bleep?</summary>
      <p>
        No, Bleep is free on iPhone, and a one-time purchase on Mac. I may offer
        subscriptions in the future, but I plan to always offer the option to
        purchase Bleep outright.
      </p>
    </details>

    <h2>Need more help?</h2>
    <ContactForm />
  </Content>
  <SiteFooter />
</Layout>

<style>
  h2 {
    margin-top: 2rem;
  }

  ul {
    margin-left: unset;
  }

  li {
    margin-bottom: 1rem;
  }

  li a {
    text-decoration: none;
  }

  details,
  li {
    padding-top: 1rem;
    border-top: 1px dashed var(--body-secondary-foreground-color);
  }
  details:not([open]) summary,
  li {
    list-style-type: none;
    color: var(--link-color);
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  summary,
  li {
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
  }

  details[open] summary {
    margin-bottom: 0.5rem;
  }
</style>
