---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Content from "../components/Content.astro";
import ContactForm from "../components/ContactForm.astro";

interface ArticleFrontmatter {
  title: string;
  support_title?: string;
  icon?: string;
  order?: number;
}

interface Article {
  url: string;
  frontmatter: ArticleFrontmatter;
}

const articles = Object.values(
  import.meta.glob<Article>("./support/*.md", { eager: true })
);
---

<Layout title="Support · Bleep">
  <SiteHeader />
  <Content>
    <h1>Support</h1>
    <h2>Guides</h2>
    <ul>
      {
        articles
          .sort(
            (a, b) => (a.frontmatter.order ?? 0) - (b.frontmatter.order ?? 0)
          )
          .map((article) => (
            <li>
              <a href={article.url}>
                <div class="emoji-square">{article.frontmatter.icon}</div>
                {article.frontmatter.support_title || article.frontmatter.title}
              </a>
            </li>
          ))
      }
    </ul>

    <h2>FAQs</h2>
    <details>
      <summary
        ><div class="emoji-square">☁️</div> Why is my data not synced between devices?</summary
      >
      <p>
        Most likely, you don't have iCloud Drive enabled. Check out the <a
          href="/support/icloud">how-to guide</a
        > to enable it. Please allow a few minutes for changes to sync between devices.
        Especially if you're using a new device.
      </p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">🔒</div> Is my data on Bleep private?</summary
      >
      <p>
        Yes, your data can only be accessed by you. It's stored on your device.
        Bleep uses iCloud for syncing between devices, but it's encrypted
        end-to-end. You can also review the <a href="/privacy"
          >privacy policy.</a
        >
      </p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">💾</div> Can I export/import my data?</summary
      >
      <p>Not at the moment. But it will be added in a future update.</p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">💻</div> Do you have a web, Windows, Linux, or
        Android app?</summary
      >
      <p>
        No, the current focus is on macOS and iOS. Long-term, I'd love for Bleep
        to be universal and on as many platforms as possible.
      </p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">📲</div> What about an iPad app?</summary
      >
      <p>Eventually, yes. But I don't have a timeline to share yet.</p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">💰</div> Do I need to subscribe to use Bleep?</summary
      >
      <p>
        No, Bleep is free on iPhone, and a one-time purchase on Mac. I may offer
        subscriptions in the future, but I plan to always offer the option to
        purchase Bleep outright.
      </p>
    </details>

    <details>
      <summary
        ><div class="emoji-square">🤖</div> What's your take on AI?</summary
      >
      <p>
        Bleep does not use AI currently. Future updates (no timeline) may
        include use of AI for categorization, text and visual recognition, as
        well as assistive features around the content you add.
        <strong
          >However, I'd stick to local models for a better, private experience.
          And most importantly, you'd get to choose what AI features to use.</strong
        >
      </p>
    </details>

    <h2>Need more help?</h2>
    <ContactForm />
  </Content>
  <SiteFooter />
</Layout>

<style>
  h2 {
    margin-top: 2rem;
  }

  ul {
    margin-left: unset;
  }

  li {
    margin-bottom: 1rem;
  }

  li a {
    text-decoration: none;
  }

  details,
  li {
    padding-top: 1rem;
    position: relative;
  }

  details::before,
  li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5rem;
    right: 0;
    border-top: 1px dashed var(--body-secondary-foreground-color);
  }

  li:first-child::before,
  details:first-of-type::before {
    display: none;
  }

  details:not([open]) summary,
  li {
    list-style-type: none;
    color: var(--link-color);
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  .emoji-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: rgba(var(--body-secondary-foreground-color-rgb), 0.25);
    border-radius: 8px;
    margin-right: 0.5rem;
  }

  summary,
  li {
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  details[open] summary {
    margin-bottom: 0.5rem;
  }
</style>
