---
import Surface from "../components/Surface.astro";
interface Props {
  title: string;
  description: string;
  image?: string;
  imageDark?: string;
  reverse?: boolean;
  class?: string;
}

const {
  title,
  description,
  image,
  imageDark,
  reverse = false,
  class: className,
} = Astro.props;
---

<section
  class:list={[
    "flex flex-col items-center gap-6 px-6 sm:px-10 sm:px-0 sm:flex-row sm:gap-8 md:gap-16",
    { "sm:flex-row-reverse": reverse },
    className,
  ]}
>
  <div class="sm:flex-1 min-w-0">
    <h3 class="text-xl sm:text-3xl font-serif mb-2 sm:mb-4 tracking-wide">
      {title}
    </h3>
    <p class="font-[450] sm:text-xl text-gray-400">
      {description}
    </p>
  </div>
  {
    image && (
      <Surface class="flex-1 min-w-0 overflow-hidden">
        <picture>
          {imageDark && (
            <source srcset={imageDark} media="(prefers-color-scheme: dark)" />
          )}
          <img src={image} alt="" loading="lazy" />
        </picture>
      </Surface>
    )
  }
</section>

<style>
  img {
    width: 100%;
    display: block;
  }
</style>
