---
interface Props {
  animate?: boolean;
}

const { animate = false } = Astro.props;
---

<footer class:list={["footer", { "animate-item": animate }]}>
  <a href="/support">Support</a>
  <a href="/privacy">Privacy</a>
  <a href="/terms">Terms</a>
  <span style="flex: 1"></span>
  <span>
    —
    <a href="https://rolando.is">Rolando</a>
  </span>
</footer>

<style>
  .footer {
    display: flex;
    padding: var(--safe-area-padding);
    font-size: 0.75em;
    gap: 1em;
    color: var(--body-secondary-foreground-color);
  }

  .footer a {
    font-weight: 600;
    color: var(--body-secondary-foreground-color);
  }

  .footer a:hover {
    color: var(--color-accent);
  }

  .footer.animate {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: 0.8s;
  }

  @media (min-width: 720px) {
    .footer {
      gap: 2em;
      font-size: 0.85em;
    }
  }
</style>
