---
import Image from "astro/components/Image.astro";
---

<header class="site-header">
  <a title="Go back to homepage" href="/">
    <Image src="/assets/icon_128x128@2x.png" alt="" width="32" height="32" />
    <span>Bleep</span>
  </a>
</header>

<style>
  .site-header a {
    padding: var(--safe-area-padding);
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .site-header span {
    font-family: "Corben", serif;
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    top: -0.066em;
  }
  .site-header img {
    display: block;
  }
</style>
