---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "rounded-3xl bg-[#282828]/4 dark:bg-white/4 ring ring-black/8 dark:ring-white/10 shadow-lg",
    className,
  ]}
>
  <slot />
</div>
