:root {
  --color-accent: #ff5252;
  --body-foreground-color: #292a4a;
  --body-foreground-color-rgb: 41, 42, 74;
  /* Remove the separate button background variable and use rgba() with the foreground color */
}

* {
  font-family: Inter, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--body-foreground-color);
  background-color: var(--body-background-color);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --color-accent: #ff6262;
    --body-foreground-color: white;
    --body-foreground-color-rgb: 255, 255, 255;
    --body-background-color: #1C1919;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent);
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}




@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}