:root {
  --color-accent: #ff5252;
  --body-foreground-color: #292a4a;
  --body-foreground-color-rgb: 41, 42, 74;
  --body-secondary-foreground-color: #9899ad;
  --body-secondary-foreground-color-rgb: 152, 153, 173;
  --link-color: #5f6fff;
  --shadow-color-rgb: var(--body-foreground-color-rgb);

  --safe-area-padding: 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --color-accent: #ff6262;
    --body-foreground-color: white;
    --body-foreground-color-rgb: 255, 255, 255;
    --body-background-color: #1C1919;
    --body-secondary-foreground-color: #999;
    --body-secondary-foreground-color-rgb: 102, 102, 102;
  --link-color: #7CBDFF;
    --shadow-color-rgb: 0, 0, 0;
  }
}

@media (min-width: 720px) {
  :root {
    --safe-area-padding: 20px;
  }
}

@font-face {
  font-family: "Jugendreisen";
  src: url("/fonts/Jugendreisen-Small.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: Inter, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  /* color: var(--body-foreground-color); */
  background-color: var(--body-background-color);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-accent);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
