---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Content from "../components/Content.astro";
const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} · Bleep`}>
  <SiteHeader />
  <Content>
    <a href="/support">&larr; Guides</a>
    <h1>{frontmatter.title}</h1>
    {frontmatter.subtitle && <p class="subtitle">{frontmatter.subtitle}</p>}
    <slot />
    <footer>
      Need more help? I got you! Please <a href="/support/contact">reach out.</a
      >
    </footer>
  </Content>
  <SiteFooter />
</Layout>

<style>
  footer,
  .subtitle {
    font-weight: 500;
    color: var(--body-secondary-foreground-color);
  }
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  footer {
    margin-top: 3rem;
  }

  a {
    text-decoration: none;
  }
</style>
